---
layout: default
---

<nav>
  <div class="container thinner">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">James Darling</a></li>
          <li class="breadcrumb-item"><a href="/posts">Blog Posts</a></li>
        </ol>
      </div>
    </div>
  </div>
</nav>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container thinner">
      <div class="row">
        <div class="col-12">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">{{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container thinner">
    <div class="row">
      <div class="col-12 post-body">
        {{ content }}
      </div>
    </div>
  </div>
